<div class="w-full h-full flex gap-4 justify-center">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>PEDIDOS</mat-card-title>
      <mat-card-subtitle>Realizar Pedido</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of menu">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro qui atque ex quos aut recusandae dolorem consequatur
        adipisci maiores ad, est dolores illo, nemo necessitatibus consequuntur commodi earum, aliquid eos.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>INGRESAR</button>
    </mat-card-actions>
  </mat-card>
</div>
